<br><br>

<div class = "sorry"><h2> Connexion failed wrong password or email ! 😔</h2></div>
<br>
<div class = "sorry-btn">
<h2>Click here  <a href="<%= users_path%>"><button type="button" class="btn btn-outline-primary">Sign in</button></a> to try again</h2>
</div>
<br><br><br><br>
