// Place all the styles related to the gossips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gossip {

    text-align: center;
    box-sizing: border-box;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    width: 15%;
    background-color: azure;
}

.gossipbtn {

    text-align: center;
}

.gossip-create  {

    text-align: center;
}