// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sorry {

    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: bisque;
    background-color:rgb(255, 2, 14)
    
}

.sorry-btn {

    text-align: center;
}

.panel-heading {

    text-align: center;
}

.hello {

    text-align: center;
}